############ Linux ############
*~

############ Mac OSX ############
.DS_Store

# Thumbnails
._*

# Files on external disks
.Spotlight-V100
.Trashes

############ Windows ############
# Image file cache
Thumbs.db
ethumbs.db

# Folder config file
Desktop.ini

# Windows Shortcuts
*.lnk

############ IntelliJ ############
/*.iml

# Directory-based project format
.idea/

# File-based project format
*.ipr
*.iws

# Additional IntelliJ
out/

############ Java ############
*.class

############ Package Files ############
*.jar
*.war
*.ear

############ Virtual-Machine Crash Logs ############
hs_err_pid*